<!DOCTYPE html>
<html lang="en" style="font-size: 50px;" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="keyword" content="计算器,密度,科学计算器,单位换算,单位转换,单位转换器">
    <link href="../../default.css" type="text/css" rel="stylesheet" />
    <link href="calc.css" type="text/css" rel="stylesheet" />
    <script src="js/vue.min.js"></script>
    <script src="js/flexible.min.js"></script>
    <title>密度</title>
</head>
<body style="font-size: 16px;">
<div id="app">
    <div id="inputArea" class="line">
        <div class="left">千克/立方米</div>
        <div class="right">
            <input type="number" placeholder="100" v-model="number" @input="inputCheck($event)">
            <div class="unit">kg/m³</div>
        </div>
    </div>
    <div id="container">
        <div class="line" v-for="item in array">
            <div class="left" v-text="item.name"></div>
            <div class="right">
                <input class="number" type="number" pattern="[0-9](\.)/ig" v-if="item.ename==noChangeTarget.ename" v-bind:value="noChangeTarget.value" @input="inputBottom($event,item.ratio,item.ename)">
                <input class="number" type="number" pattern="[0-9](\.)/ig" v-else v-bind:placeholder="num(100 / item.ratio)" v-bind:value="number ? num(number / item.ratio) : ''" @input="inputBottom($event,item.ratio,item.ename)">
                <div class="unit" v-text="item.symbol"></div>
            </div>
        </div>
    </div>
</div>
<script src="js/density.js"></script>

<script>

</script>
</body>
</html>
